beautifulsoup4==4.13.4
deep-translator==1.11.4
fastapi==0.124.0
google-api-python-client==2.187.0
langchain-core==0.3.74
langchain-openai==0.2.14
matplotlib==3.9.2
numpy==2.3.2
opencv-python-headless==4.10.0.84
openai>=1.58.1,<2.0.0
pandas==2.3.1
pydantic==2.11.7
pymongo==4.14.0
python-dotenv==1.1.1
python-multipart
reportlab
requests==2.32.4
scikit-learn==1.7.1
shapely
ultralytics==8.0.134
uvicorn[standard]==0.30.6
youtube-transcript-api==1.2.2
